{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h1 class="m-5">Welcome to Smart Notes!</h1>
    <p class="m-5">Today is {{today}}</p>
    {% if user.is_authenticated %}
    <a href="{% url 'notes.list' %}" class="btn btn-primary">Check out these smart notes!</a>
    {% else %}
    Returning Users &nbsp
    <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a>
    <br>
    <br>
    New Users &nbsp
   <a href="{% url 'signup' %}" class="btn btn-outline-primary">Sign Up</a>
    {% endif %}
</div>
{% endblock %}