{% extends "base.html" %}

{% block title %}Detail for Note {{note.pk}}{% endblock %}

{% block content %}

<div class="border rounded p-5">
    <h1 class="my-2 mb-4">{{note.title}}</h1>
    <p>{{note.text}}</p>
</div>

<div class="d-flex flex-row justify-content-end">
    <a href="{% url 'notes.list' %}" class="btn btn-secondary m-2">Back</a>
    <a href="{% url 'notes.update' pk=note.id %}" class="btn btn-success m-2">Edit</a>
    <a href="{% url 'notes.delete' pk=note.id %}" class="btn btn-danger m-2">Delete</a>
</div>
{% endblock %}