{% extends "base.html" %}

{% block title %}Notes List{% endblock %}

{% block content %}
    <h1 class="text-center  my-3" >Notes</h1>
    
    <div class="d-flex flex-wrap justify-content-center align-items-stretch">
        {% for note in notes %}
            <div class="card mx-2 mb-3 w-25 p-3 border card-hover">
                <a href="{% url 'notes.detail' pk=note.id %}" class="text-dark 
                    link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover">
                <h3>{{note.title}}</h3></a>
                <p>{{note.text|truncatechars:15}}</p>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}